extends layout

block content
    nav.fixed-nav-bar
        include utils/dropdown.pug
    div.margin-top-4
        h1= title
        p Welcome to #{title}
    br
    br
    div.center
        form
            div.input-container
                span First Name
                input(type=text class="first-name" name="firstName", value="Mickey")
            br
            div.input-container
                span Last Name
                input(type=text class="last-name" name="lastName", value="Mouse")